.mdl-layout-title {cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; }
body, .mdl-layout__content {background: #FAFAFA /* According to material design guidelines */}
.note {margin:8px; display:inline-block; min-width:75px; min-height:112.5px; vertical-align: top;}
.note .mdl-card__title {background: #263238; color:#FFF}
.note .mdl-card__title-text {border:0; outline:0; background: transparent;}
.note .mdl-card__supporting-text, .note .mdl-card__supporting-text ul {border: 0; outline:0; font-size: 150%}
.button {}
@media (max-width:480px) {
    .note {display:block;width:auto;}
}
